/* Colors and such
 * -------------------------------------------------------*/

/* Backgrounds */
.background-highlight {background: #A0A0A0; }
.background-ultralight { background: #d5ecfc; }
.background-light { background: #ECF0F1; }
.background-dark { background-color: #b7e2ff; }

/* Link & Text Colors */
a { color: #076715; text-decoration: none; }
a:hover { color: #B23B2E; }
a.absent { color: #66221A; }
.text { color: #000000; }

/* Fonts */
.global-font { font: 13px/1.6 'Microsoft YaHei', sans-serif; }
.heading-font { font-family: 'Segoe UI Light', 'Microsoft YaHei', sans-serif; }

/* Cursors */
div, h1, h1 { cursor: default; }
    
/* Logo */
.logo-wrapper .logo { background: url(logo-light.png); }

/* Pin/Unpin effects */
.project-wrapper .pinned { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAeElEQVR4Xs2TsQ6AIAxEW8MC38aifqe68G1lrHHxErV0IFEvYeBKLr28wKpKPRqoU+Fq1FrdlWKMjIAH5ZzJUinFq4BH67Id5+q3A1JKTA1hjoCfURCRk8I0j2TMGRUcCp4fTAoIw92vAAqoc/dV9SUKqGPr+9+4AxBhLoKUsKncAAAAAElFTkSuQmCC) no-repeat center; }
.project-wrapper .unpinned { background: none; }
.project-wrapper .unpinned:hover { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAbklEQVQ4jc2TsQrAMAhEa8nit/m9fpujnSISzKUhQ3uQxeDxPJTc/TrRfdT9C4NWFc0sgmFmQvUpgYhEU3+5DglGE6QwyHhZqgpNG/p8I+qLNBIgM1WNEINglvZKMMRx/oqMqlvY2YPSYEff38IDuRxAMRkzZJIAAAAASUVORK5CYII=) no-repeat center;   
}
.project-wrapper .project-pin:hover { background-color: #718fa3; }

/* What's New Highlight Color */
.news-item:hover { background-color: #718FA3; }