<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Animat.Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Animat.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Animat.Studio.Properties.Settings>
            <setting name="ProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>400</value>
            </setting>
        </Animat.Studio.Properties.Settings>
        <Animat.UI.Properties.Settings>
            <setting name="ProjectFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>400</value>
            </setting>
        </Animat.UI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
